.video-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GalleryVideos{
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
    height: 190px;
}

.section-video {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.section-video::after {
    content: "";
    width: 55px;
    height: 3px;
    background: #0b7c7a;
    position: absolute;
    bottom: -6px;
    left: 0; 
}

.view-video {
    background: #0aa3a3;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.addvideo {
    margin-left: 787px;
}