
.news-header {
    display: flex;
    justify-content: space-between;
}

.video-bg {
    height: 150px;
    width: 100%;
    border-radius: 12px;
    display: block;
    min-height: 153px;
}

.VideosHeader {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
}