.slick-next {
    right: -15px;
}

.welcome-container {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.welcome-left {
    max-width: 600px;
}

.welcome-user {
    color: #00a3a3;
    font-weight: 600;
    margin-bottom: 10px;
}

.welcome-left h1 {
    font-size: 27px;
    /* line-height: 1.2; */
    /* margin: 10px 0 15px; */
    font-family: sans-serif;
}

.welcome-desc {
    color: #040404;
    line-height: 1.2;
    margin-bottom: 26px;
    /* font-size: 13px; */
    /* font-family: sans-serif; */
}


.welcome-right img {
    width: 420px;
    border-radius: 18px;
    object-fit: cover;
    height: 300px;
}

.welcome-right video {
    width: 420px;
    border-radius: 18px;
    object-fit: cover;
    height: 300px;
}


.anno-read {
    font-weight: 600;
    text-decoration: none;
    color: #007680;
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .welcome-container {
        flex-direction: column;
        padding: 30px 20px;
    }

    .welcome-left h1 {
        font-size: 28px;
    }

}





.tbl-label {
    width: 20%;
    padding: 10px;
    font-weight: 600;
    border: 1px solid #ccc;
    background: #fbfbfb;
  }
  
  .tbl-field {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .tbl-field input,
  .tbl-field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .upload-btn {
    background: #0078d4;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .preview-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .preview-item {
    position: relative;
  }
  
  .remove-icon {
    position: absolute;
    top: -6px;
    right: -6px;
    background: red;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
    padding: 2px 5px;
  }
  
  button {
    background: #0078d4;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
  }