.hero-section {
    position: relative;
    height: 200px;
    background-image: url('../assets/Rectangle26.png');
    /* replace with your image */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 40px;
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 51px;
}

/* TEAL OVERLAY */
.hero-overlay {
    position: absolute;
    inset: 0;
    /* background: linear-gradient(90deg, rgba(0, 43, 48, .95), rgba(0, 79, 88, .85), rgba(0, 118, 128, .75)); */
    background: linear-gradient(90deg, rgba(0, 79, 88, .85), rgba(0, 118, 128, 0.75));
}

/* CONTENT */
.hero-content {
    position: relative;
    color: #fff;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

.hero-content p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.95;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero-section {
        height: auto;
        padding: 24px;
    }

    .hero-content h1 {
        font-size: 26px;
    }
}